<div>
  <h2 style="text-align: center">Contact Form</h2>
  <div class="form-container">
    <p>Please use the form below to send us a message:</p>

    <form method="post" action="" class="contact-form">
        <table style="width: 100%">
          <tr><th>Name:</th><td class="textinput"><input type="text" name="name" /></td></tr>
          <tr><th>E-mail:</th><td class="textinput"><input type="text" name="email" /></td></tr>
          <tr><td colspan="2" class="textinput"><textarea name="text" cols="40" rows="16"></textarea></td></tr>
          <tr><td colspan="2" style="text-align: center"><input type="button" value="Send Message" /></td></tr>
        </table>
    </form>
  </div>
</div>

<script type="text/javascript" src="<%= assets %>/js/jquery.min.js"></script>
<script type="text/javascript" src="<%= assets %>/js/json2.js"></script>
<script type="text/javascript" src="<%= assets %>/js/contact.js"></script>
